:root {
  /* Color Palette */
  --base-1: #393939;
  --base-2: #615c5c;
  --base-3: #000000;
  --base-4: #000000;

  --accent-1: #000000;
  --accent-2: #000000;
  --accent-3: #09c919;
  --accent-4: #c51700;

  --soft-black-1: #202020;
  --soft-black-2: #000000;

  --soft-white-1: #000000;
  --soft-white-2: #000000;

  --light-2: #ac6b26;
  --light-accent-1: #bb7f57;
  --light-accent-2: #725956;

  --slow-transition: ease 200ms;
}

body {
  color: white;
  background-color: var(--soft-black-1);
}