.new-task-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--base-1);

  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  z-index: 1;

  transition: var(--slow-transition);
  user-select: none;
}

.new-task-button:hover {
  width: 4rem;
  height: 4rem;

  border-radius: 1rem;
}

.new-task-input {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--base-1);

  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  text-align: center;

  z-index: -1;
  opacity: 0;
}

.add-task-button {
  background-color: aliceblue;
}

.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 75%;
}

.task {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--base-1);
}

.task-title {
  justify-self: flex-start;
  padding: 0.5rem 1rem;

  background-color: var(--base-2);

  user-select: none;
}

.finish-button {
  color: var(--soft-black-1);
  background-color: var(--accent-3);

  cursor: pointer;
  user-select: none;
  /*
    Color + Background
    Text + Font
    Transforms + Animation
    Misc
  */
}

.remove-task-button {
  background-color: var(--accent-4);

  cursor: pointer;
  user-select: none;


  /*
    Position & Layout
    Box Model
    Color + Background
    Text + Font
    Transforms + Animation
    Misc
  */
}

/*
  Text & Font
  Background
  Box Model
  Position & Layout
  Transforms & Animation
  Misc
*/